@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito',sans-serif;
}
.container{
  background-color: #fff;
  color: #fff;
}
.padding{
    padding: 60px;
}
.navigation-bar{
  display: flex;
  flex-wrap: 1;
  justify-content: space-between;
  align-items: center;
  background-color: #002B5B;
}
nav a{
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  margin-right: 15px;
}
nav a:hover{
  border-bottom: 3px solid #fff;
  border-radius: 3px;
  padding-bottom: 5px;
}
.nav-img{
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 100%;
}
.toggle-btn{
  color: #fff;
  background: #002B5B;
  padding: 10px;
  font-size: 1.1em;
  border: 2px solid transparent;
  border-radius: 10px;
}

.top-display{
  text-align: center;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  color: #8FE3CF;
  margin-bottom: 200px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-color: #002B5B;
}
.top-display h3{
  font-size: 1.5em;
  padding-bottom: 20px;
}
.top-display span{
  font-size: 1.1em;
  text-transform: uppercase;
  color: #256D85;
}
.top-display h2{
  font-size: 2.5em;
  padding-bottom: 75px;
}

.about{
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #002B5B;
}
.body-img{
  width: 150px;
  height: 150px;
  border: 1px solid transparent;
  border-radius: 100%;
  margin-left: 220px;
  margin-top: 100px;
}
.header-text{
  font-size: 2em;
  text-transform: uppercase;
  color: #002B5B;
  text-align: center;
}
.about-text{
  padding-left: 60px;
}
.about-text ul{
  list-style: none;
}
.about-text h4{
  color: #256D85;
  font-size: 1.1em;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 10px;
}
.about-text p{
  padding-top: 5px;
}
.about-text a{
  color: #002B5B;
  text-decoration: none;
  border-bottom: 3px solid #256D85;
}
.skills-hobbies{
  display: flex;
}

.services{
  padding: 170px;
  background-color: #2B4865;
}
.services h3{
  text-align: center;
  color: #fff;
}
.services-texts{
  display: flex;
  flex: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
}
.services-text i{
  font-size: 2em;
  text-align: center;
  padding-left: 50px;
}
.services-text p{
  text-align: center;
}


.sals{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}
.projects h3{
  text-align: center;
}
.projects{
  color: #002B5B;
}
.project-images{
  width: 500px;
  height: 400px;

}

.education{
  padding: 215px;
  color: #002B5B;
}
.edu-text span{
  color: #256D85;
  padding-top: 10px;
}
.edu-text h3{
  padding-top: 30px;
  font-size: 1.1em;
}
.edu-text h4{
  padding-top: 30px;
}


.contact {
  text-align: center;
  background-color: #256D85;
}
.social-links a{
  font-size: 1.1em;
  border: 2px solid #8FE3CF;
  text-decoration: none;
  border-radius: 100%;
  padding: 10px;
  margin: 20px;
  color: #fff;
}
.social-links a:hover{
  background-color: #8FE3CF;
}
.email a{
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  padding: 15px;
}

.show{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hide{
  display: none;
}
.courses img{
  width: 100px;
  height: 100px;
  border: 1px solid transparent;
  border-radius: 15px;
}

.proj-text a{
  color: #002B5B;
  text-decoration: none;
  border-bottom: 3px solid #256D85;
}
